html{
 height: 100%;
 font-size: 100%;
}
body {
  font-family: arial , sans-serif;
}
#top{
  width:100%;
  background-image: 
  linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(Bd.jpg);
  background-attachment:cover;
  background-position: center;
  background-size: cover;
  background-position: center;
  position: relative;
}
#titre{
  text-align: center;
  color:white;
}
.budget_value {
  font-weight: 300;
  font-size: 46px;
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 2px;
}
#montant{
	width:90px;
	height:50px;
    margin-left:15em;
    color:white;
    text-align:center;	
    font-size:50px;
}
#donnee{
  margin-bottom:50px;
  margin-top:70px;
}
#info1{
 float:center;
 padding-left:50px;
 margin-left:40em;
 width:30em;
 height:4em;
 background-color:#01d28e;
 padding-top:10px;
}
#ajout{
 margin-bottom:5px;
 width:4em;
 height:2.25em;
 margin-left:300px;
 color:white;
 padding-bottom: 30px;
}
#info2{
 float:center;
 padding-left:50px;
 height:4em;
 margin-left:40em;
 padding-right:50px;
 width:30em;
 background-color:red;
 padding-top:10px;
}
#deficier{
 width:4em;
 height:2.25em;
 margin-bottom:5px;
 margin-left:300px;
 color:white;
 text-align: center;
 padding-bottom: 30px;
}
button{
 box-shadow: 1PX 1PX 1PX 1PX;
 text-decoration: none;
 text-align-last: center;
 background-color: white;
 border-style: none;	
}
button: focus{
	cursor: pointer;
}
#choose{
  width:5em;
  height:3em;
}
#information1{
  width:40em; 
}
#information2{
  width:10em; 
}
#rightpos {
 float: right;
 display:inline-block;
 width:50%;
 height:20em;
 padding-left:5em;
 padding-top:3em;
}
#leftpos {
 float: left;
 display: inline-block;
 width:50%;
 height:20em;
 padding-left:5em;
 padding-top:3em;
}
#incoming{
 margin-left:16px;
 color: red;
}
#incoming  :hover{

}
#outgoing{
 margin-left:16px;
 color: #01d28e;
}
#outgoing :hover{
  text-decoration:none;
}
#gain{
  width:20em;
  height:3.5em;
  border-radius: #01d28e 1px 1px 1px 1px;
}
#gain: hover{
  width:20em;
  height:3.5em;
  border-radius: #01d28e 1px 1px 1px 1px;
  box-shadow: #01d28e 1px 1px 1px 1px;
}
#depense{
  width:20em;
  height:3.5em;
  border-radius:red 1px 1px 1px 1px;
}
#depense:hover{
  width:20em
  height:3.5em;
  box-shadow:red 1px 1px 1px 1px;
  border-radius:red 1px 1px 1px 1px;
}
#argent1{
 width:10em;
 height:3.5em;
}
#argent1:hover{
 box-shadow: #01d28e 1px 1px 1px 1px;
}
#argent2{
 width:10em;
 height:3.5em;
}
#argent2:hover{
 box-shadow:red 1px 1px 1px 1px;
}