html{
font-size:100%;
width:100%;
margin-right: 20px;
}
#header{
word-spacing: 2em;
font-family: ariel, sans-serif;
font-size:18px;
} 
#cem{
background-color:bisque;	
font-family: ariel, sans-serif;
font-size:18px;
border:1px #f4f4f4 dotted;
} 
#fo {
width: 80%;
margin-top:46px;
padding:10px 10px;
}
#fo h3{
margin-bottom:20px;
}
#formulaire{
font-size:15px;
width:100%;
}
#com {
float: right;
color: red;
margin-right:20px;
}
#in{   
text-align:center;
padding-bottom:30px;
padding-top:20px;
margin: auto;
}



