html{
 height: 100%;
 font-size: 100%;
}
body {
  font-family: arial , sans-serif;
}
#top{
  width:100%;
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(Bd.jpg);
  background-attachment:cover;
  background-position: center;
  background-size: cover;
  position: relative;
}
#titre{
  text-align: center;
  color:white;
  font-weight: 300px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
#montant{
	width:90px;
	height:50px;
    margin-left:15em;
    color:white;
    text-align:center;
    font-size:40px;
    letter-spacing: 2px;
}

.container{
	margin-bottom: 0px;
	display: inline-block;
	position: relative;
	left: 2em;
}
#donnee{
  margin-bottom:20px;
  margin-top:40px;
}
#info1{
 float:center;
 padding-left:50px;
 margin-left:40em;
 width:30em;
 height:4em;
 background-color:#01d28e;
 padding-top:10px;
}
#right{
	float: right;
}
#budget__expenses--percentage {
  float: left;
  display: flex;
  align-self: center;
  width: 50px;
  height: 20px;
  font-size: 11px;
  margin-left: 5px;
  margin-top:0px;
  text-align: center;
}

#budget__expenses--percentage {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  border-radius: 3px;
  padding-left:1em;
  padding-top: 1px;
  position: relative;
  bottom: 2em;
  left:3.8em;
}
#ajout{
 margin-bottom:5px;
 width:4em;
 height:2.25em;
 margin-left:300px;
 color:white;
 padding-bottom: 30px;
}
#info2{
 float:center;
 padding-left:50px;
 height:4em;
 margin-left:40em;
 padding-right:50px;
 width:30em;
 background-color:#ff1e56;
 padding-top:10px;
 padding-bottom: 20px;
}
.deficier{
 width:4em;
 height:2.25em;
 margin-bottom:9px;
 margin-left:300px;
 color:white;
 text-align: center;
 padding-bottom: 30px;
}
button{
 box-shadow: 1PX 1PX 1PX 1PX;
 text-decoration: none;
 text-align-last: center;
 background-color: white;
 border-style: none;
}
button: focus{
	cursor: pointer;
	outline: none 0;
}
.middle{
	background-color: #f7f7f7;
}
.center{
display: flex;
position: relative;
top:0px;
margin-top:0px;
}
#choose{
  width:5em;
  height:3em;
  outline: none 0;
}
input:focus{
	outline:none;
}
#information1{
  width:40em;
  outline: none;
}
#information:focus {
	outline:none 0;
}
#information2{
  width:10em;
  outline: 0;
}
#information2:focus{
	outline: 0 none;
}
#validation: focus{
	outline: 0;
}
input:focus{
	outline: none 0;
}
#rightpos {
 float: right;
 display:inline-block;
 width:50%;
}
#leftpos {
 float: left;
 display: inline-block;
 width:50%;
}
#incoming{
 margin-left:16px;
 color: #01d28e !important;
 font-size-adjust: 12px;
}

#outgoing{
 margin-left:16px;
 color: #ff1e56 !important;
 font-size-adjust: 12px;

}
#list{
  width: 40em;
  height:5em;
  border-top: 1px solid black;
  border-bottom: 1px black solid;
  text-align: center;
  margin-right: 3em;
  padding-right: 3em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  top: 1em;
  left: 2em;
}
#btn{
	position: absolute;
	bottom: 0px;
	display:run-in;
}
h2{
	text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 15px;
}
#Bg{

	text-align-last: center;
	float: left;
}
#list{
	list-style: none;
}
#list:hover{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	cursor: alias;

}
/*#argent2:hover{
 box-shadow:#ff1e56 1px 1px 1px 1px;
}*/
